//Тут будут глобальные переменные
:root {
    --font-family-base: 'Steppe Book', sans-serif;
    --steppe-extrabold: 'Steppe ExtraBold', sans-serif;

    --hover-button-color: #e2d8d8;
    
    --transition-duration: 0.2s;
}