.footer {
    display: flex;
    flex-direction: column;
    padding-top: 126px;
    padding-bottom: 50px;
}
.footer__logo {
    text-align: center;
    margin: 0px auto;
}
.footer__text {
    text-align: center;
    margin-top: 14px;
}